<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rejestracja</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./register">Rejestracja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./login">Logowanie</a>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/register}"
                  th:object="${account}" method="post" class="form-horizontal"
                  role="form">
                <h2>Rejestracja</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <!--<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"-->
                               <!--class="validation-message"></label>-->
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <!--<label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"-->
                               <!--class="validation-message"></label>-->
                        <input type="text" th:field="*{surname}"
                               placeholder="Last Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <!--<label-->
                                <!--th:if="${#fields.hasErrors('email')}" th:errors="*{email}"-->
                                <!--class="validation-message"></label>-->
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <!--<label-->
                                <!--th:if="${#fields.hasErrors('password')}" th:errors="*{password}"-->
                                <!--class="validation-message"></label>-->
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">TAU</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{css/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script th:src="@{css/popper.min.js}"></script>
<script th:src="@{css/bootstrap.min.js}"></script>


</body>
</html>
