<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logowanie</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./add_rod">Dodaj wędkę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_rods">Lista wędek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_food_ingredients">Pokaż składniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add_food_ingredient">Dodaj składnik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./calculator">Kalkulator kalorii</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <span th:utext="${successMessage}"></span>
            <form autocomplete="off" action="#" th:action="@{/add_food_ingredient}"
                  th:object="${food_ingredient}" method="post"  class="form-horizontal" role="form">
                <h2>Dodawanie składnika spożywczego</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{name}" placeholder="Nazwa składnika"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{description}" placeholder="Opis składnika (Opcjonalnie)"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Zawartość białka na 100g produktu</p>
                        <input type="text" th:field="*{amountProtins}" placeholder="Zawartość białka na 100g produktu" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Zawartość węglowodanów na 100g produktu</p>
                        <input type="text" th:field="*{amountCarbs}" placeholder="Zawartość węglowodanów na 100g produktu"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Zawartość tłuszczy na 100g produktu</p>
                        <input type="text" th:field="*{amountFats}" placeholder="Zawartość tłuszczy na 100g produktu"
                               class="form-control"/>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                    </div>
                </div>



            </form>
        </div>
        <div class="custom-file col-md-6 col-md-offset-3">
            <form method="POST" enctype="multipart/form-data" action="/add_food_ingredient">
            <input type="file" class="custom-file-input" id="file" name="file">
            <label class="custom-file-label" for="file">Wgraj plik XML</label>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" value="Upload" class="btn btn-primary btn-block">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">TAU</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{css/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script th:src="@{css/popper.min.js}"></script>
<script th:src="@{css/bootstrap.min.js}"></script>


</body>
</html>
