<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logowanie</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./add_rod">Dodaj wędkę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_rods">Lista wędek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_food_ingredients">Pokaż składniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add_food_ingredient">Dodaj składnik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./calculator">Kalkulator kalorii</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" th:fragment="content">


    <form autocomplete="off" action="#" th:action="@{/create_meal}"
          th:object="${ingredientsForm}" method="post" class="form-horizontal" role="form">

        <h2>Przygotuj posiłek</h2>

        <div class="form-group">
            <span th:utext="${message}"></span>
            <div class="col-sm-9">
                <input type="text" th:field="*{title}" placeholder="Nazwa składnika"
                       class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" th:field="*{description}" placeholder="Opis składnika (Opcjonalnie)"
                       class="form-control"/>
            </div>
        </div>

        <table class="table table-striped">

            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Ilość g białka</th>
                <th>Ilość g węgli</th>
                <th>Ilość g tłuszczu</th>
                <th>Twoja porcja</th>
            </tr>
            <tr th:each="count : ${ingredientsList}">
                <div th:each="ingredientsForm : ${ingredientsForm}">

                    <td th:text="${count.id}"></td>
                    <input type="hidden" name="food_ingredient_id" id="food_ingredient_id" th:value="${count.id}"
                           class="form-control"/>
                    <td th:text="${count.name}"></td>
                    <td th:text="${count.description}"></td>
                    <td th:text="${count.amountProtins}"></td>
                    <td th:text="${count.amountCarbs}"></td>
                    <td th:text="${count.amountFats}"></td>
                    <td><input type="text" name="gramsPortion" id="gramsPortion" value="0" class="form-control"/></td>
                </div>
            </tr>

            <!--###############Moje próby wyświetlenia tabeli w tabeli, oraz za pomocą thymeleaf - bezskutecznie.##############-->
            <!--<span th:each="ingredientsForm, stat : *{readyMealDetailsList}">-->
            <!--<tr th:each="count : ${ingredientsList}">-->
            <!--<div th:each="ingredientsForm, stat: ${ingredientsFormList}">-->
            <!--<td th:text="${count.id}">-->
            <!--<td th:text="${count.name}"></td>-->
            <!--<td th:text="${count.amountProtins}"></td>-->
            <!--<td th:text="${count.amountCarbs}"></td>-->
            <!--<td th:text="${count.amountFats}"></td>-->
            <!--<input type="text" th:field="*{readyMealDetailsList[__${stat.index}__].gramsPortion}"/>-->
            <!--<td><input type="text" th:field="*{readyMealDetails.gramsPortion}" placeholder="Wprowadz wage produktu" class="form-control"/>-->
            <!--</span>-->

        </table>

        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
            </div>
        </div>
        <!--</div>-->
    </form>

</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">TAU</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{css/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script th:src="@{css/popper.min.js}"></script>
<script th:src="@{css/bootstrap.min.js}"></script>


</body>
</html>
