<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div class="content" th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <form autocomplete="off" action="#" th:action="@{/create-meal}"
                      th:object="${ingredientsForm}" method="post" class="form-horizontal" role="form">

                    <h2>Przygotuj posiłek</h2>
                    <!--Logged user: <span sec:authentication="name"></span>-->
                    <!--Roles: <span (sec:authentication="principal.authorities")></span>-->
                    <div class="form-group">
                        <span th:utext="${message}"></span>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{title}" placeholder="Nazwa składnika"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{description}" placeholder="Opis składnika (Opcjonalnie)"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary">
                                    <input type="radio" name="category" id="1" th:value="1" th:checked="*{category}">
                                    Danie
                                    główne
                                </label>
                                <label class="btn btn-outline-primary">
                                    <input type="radio" name="category" id="2" autocomplete="off" th:value="2"
                                           th:checked="*{category}"> Danie dodatkowe
                                </label>
                            </div>
                        </div>
                    </div>

                    <table id="ingredientsTable" class="display">
                        <!-- Header Table -->
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>description</th>
                            <th>category</th>
                            <th>amountProtins</th>
                            <th>amountCarbs</th>
                            <th>amountFats</th>
                            <th>amountFats</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>

                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>description</th>
                            <th>category</th>
                            <th>amountProtins</th>
                            <th>amountCarbs</th>
                            <th>amountFats</th>
                            <th>amountFats</th>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</html>




