<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logowanie</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./add_rod">Dodaj wędkę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_rods">Lista wędek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./show_food_ingredients">Pokaż składniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add_food_ingredient">Dodaj składnik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./calculator">Kalkulator kalorii</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" th:fragment="content">

    <div th:if="${not #lists.isEmpty(counts)}">
        <h2>Lista wędek</h2>
        <table class="table table-striped">
            <tr>
                <th>ID Wedki</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Ilość g białka</th>
                <th>Ilość g węgli</th>
                <th>Ilość g tłuszczu</th>
            </tr>
            <tr th:each="count : ${counts}">
                <td th:text="${count.id}"></td>
                <td th:text="${count.name}"></td>
                <td th:text="${count.description}"></td>
                <td th:text="${count.amountProtins}"></td>
                <td th:text="${count.amountCarbs}"></td>
                <td th:text="${count.amountFats}"></td>
                <td><a href="list.html" th:href="@{/rods-test/(id=${count.id})}">Usun</a></td>
            </tr>
        </table>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">TAU</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{css/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script th:src="@{css/popper.min.js}"></script>
<script th:src="@{css/bootstrap.min.js}"></script>


</body>
</html>
