<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<div class="container" th:fragment="content">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header smaller_h1">Historia zapotrzebowania kalorycznego</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="panel-body">
                    <div class="row">

                        <div th:if="${not #lists.isEmpty(calculator)}">
                            <table class="table table-striped">
                                <tr>
                                    <th>Data wygenerowania</th>
                                    <th>Waga</th>
                                    <th>Wiek</th>
                                    <th>Planowany wysiłek fizyczny</th>
                                    <th>Cel</th>
                                    <th>Niezbędna ilość kcal</th>
                                </tr>
                                <tr th:each="count : ${calculator}">
                                    <td th:text="${count.createdDate}"></td>
                                    <td th:text="${count.weight}"></td>
                                    <td th:text="${count.age}"></td>
                                    <td th:text="${count.plannedEffort}"></td>
                                    <td th:text="${count.bodyGoal}"></td>
                                    <td th:text="${count.caloriesDemand}"></td>
                                    <!--<td><a href="list.html" th:href="@{/rods-test/(id=${count.id})}">Usun</a></td>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container" th:fragment="content">-->
<!--<div class="row">-->
<!--<div class="col-12">-->
<!--<h2>Lista składników</h2>-->
<!--<table class="table table-striped table-bordered dataTable" id="ingredientsTable">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>id</th>-->
<!--<th>name</th>-->
<!--<th>description</th>-->
<!--<th>amountProtins</th>-->
<!--<th>amountCarbs</th>-->
<!--<th>amountFats</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->