<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title>Generator diet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{css/override-css.css}" rel="stylesheet">
    <script src="js/datatable.js"></script>
</head>

<div th:include="header"/>

<body>

<div th:include="this :: content"/>
<div th:include="footer"/>

</body>
</html>

<!--<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/dataTables.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/datatable.js}"></script>-->
<!--<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">-->
<!--<link rel="stylesheet" th:href="@{css/dataTables.min.css}">-->
<!--<link rel="stylesheet" th:href="@{css/docs.min.css}">-->