<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generator diet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link th:href="@{css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">Generator diet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="./login">Logowanie</a></li>
                <li><a class="nav-link" href="./register">Rejestracja</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/register}"
                  th:object="${account}" method="post" class="form-horizontal"
                  role="form">
                <h2 th:text="#{register_title}" />
                <span th:utext="${successMessage}"></span>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message" id="wrongName"></label>
                        <input type="text" th:field="*{name}" th:placeholder="#{name}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{surname}"
                               th:placeholder="#{surname}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message" id="wrongEmail"></label>
                        <input type="text" th:field="*{email}" th:placeholder="#{email}"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message" id="wrongPassword"></label>
                        <input type="password" th:field="*{password}"
                               th:placeholder="#{password}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" name="SubmitRegister" id="SubmitCreate" class="btn btn-primary btn-block" th:text="#{register_button}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Generator diet - Krzysztof Wojdak ver 1.0</span>
    </div>
</footer>
</body>
</html>
