<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<div class="container" th:fragment="content">


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header smaller_h1">Przygotuj posiłek</h1>
                <p th:text="${message}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">


                            <form autocomplete="off" action="#" th:action="@{/create-meal}"
                                  th:object="${ingredientsForm}" method="post" class="form-horizontal" role="form">

                                <div class="form-group">
                                    <div>
                                        <input type="text" th:field="*{title}" th:placeholder="#{meal_title}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <input type="text" th:field="*{description}" th:placeholder="#{meal_description_optional}"
                                               class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" name="category" id="1" th:value="1" th:checked="*{category}" th:text="#{main_meal_name}">
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="category" id="2" autocomplete="off" th:value="2" th:checked="*{category}" th:text="#{second_type_meal_name}">
                                        </label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <p th:text="#{suggestion_view_all_ingredients}"></p>
                                    <table id="ingredientsTable" class="display">
                                        <!-- Header Table -->
                                        <thead>
                                        <tr>
                                            <th th:text="#{id_table}" />
                                            <th th:text="#{name_table}" />
                                            <th th:text="#{description_table}" />
                                            <th th:text="#{category_table}" />
                                            <th th:text="#{proteins_table}" />
                                            <th th:text="#{carbs_table}" />
                                            <th th:text="#{fats_table}" />
                                            <th th:text="#{your_portion_table}" />
                                        </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <th th:text="#{id_table}" />
                                            <th th:text="#{name_table}" />
                                            <th th:text="#{description_table}" />
                                            <th th:text="#{category_table}" />
                                            <th th:text="#{proteins_table}" />
                                            <th th:text="#{carbs_table}" />
                                            <th th:text="#{fats_table}" />
                                            <th th:text="#{your_portion_table}" />
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" th:text="#{create_meal_button}" />
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>