<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<div class="container" th:fragment="content">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header smaller_h1" th:text="#{ready_meals_title}" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="panel-body">
                    <div class="row">


                        <div th:if="${not #lists.isEmpty(readyMealsList)}">
                            <table class="table table-striped">
                                <tr>
                                    <th th:text="#{meal_title}" />
                                    <th th:text="#{category_table}" />
                                    <th th:text="#{operations}" />
                                </tr>
                                <tr th:each="count : ${readyMealsList}">
                                    <td th:text="${count.title}"></td>
                                    <td th:text="${count.category}"></td>
                                    <td><a href="/ready-meals-list" th:href="@{/take-meal(id=${count.mealId})}">Zobacz szczegóły</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>