<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<div class="container" th:fragment="content">


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header smaller_h1" th:text="#{deal_details}" />
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label th:text="#{meal_title}" />
                                        <input type="text" class="form-control" th:value="${readyMealInfo.title}">
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label th:text="#{meal_description}" />
                                        <textarea type="text" class="form-control"
                                                  th:field="*{readyMealInfo.description}"
                                                  rows="2"></textarea>
                                    </div>
                                </fieldset>
                            </div>


                            <div class="form-group">
                                <div class="mb-4">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted" th:text="#{necessary_ingredients}" />
                                    </h4>
                                    <ul class="list-group mb-3" th:each="count : ${readyMealInfo.readyMealReadyMealDetails}">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0"
                                                    th:text="${count.readyMealDetailsFoodIngredient.name}"></h6>
                                                <small class="text-muted"
                                                       th:text="'Węglowodany: '+${ #numbers.formatDecimal((calories.nutritionGramsAmount(count.gramsPortion, count.readyMealDetailsFoodIngredient.amountCarbs)),1,1)
                                   + ' g | Białko: '+ #numbers.formatDecimal((calories.nutritionGramsAmount(count.gramsPortion, count.readyMealDetailsFoodIngredient.amountProtins)),1,1)
                                   + ' g | Tłuszcze: '+ #numbers.formatDecimal((calories.nutritionGramsAmount(count.gramsPortion, count.readyMealDetailsFoodIngredient.amountFats)),1,1)
                                   + ' g | ' + #numbers.formatDecimal((calories.kcalAmount(count.gramsPortion, count.readyMealDetailsFoodIngredient.amountCarbs, count.readyMealDetailsFoodIngredient.amountProtins,
                                   count.readyMealDetailsFoodIngredient.amountFats)),1,1) +' kcal'}"></small>
                                            </div>
                                            <span class="text-muted"
                                                  th:text="${#numbers.formatDecimal(count.gramsPortion, 1, 1)} +' gram'"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="mb-4">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted" th:text="#{summary}" />
                                    </h4>
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col" th:text="#{carbohydrates}" />
                                            <th scope="col" th:text="#{protein}" />
                                            <th scope="col" th:text="#{fats}" />
                                            <th scope="col">Kcal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${#numbers.formatDecimal(calories.totalCarbsGramsAmount(readyMealInfo.readyMealReadyMealDetails),1,1)+' g'}"></td>
                                            <td th:text="${#numbers.formatDecimal(calories.totalProtinsGramsAmount(readyMealInfo.readyMealReadyMealDetails),1,1)+' g'}"></td>
                                            <td th:text="${#numbers.formatDecimal(calories.totalFatsGramsAmount(readyMealInfo.readyMealReadyMealDetails),1,1)+' g'}"></td>
                                            <td th:text="${#numbers.formatDecimal(calories.totalKcalGramsAmount(readyMealInfo.readyMealReadyMealDetails),1,1)+' kcal'}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Data dodania</label>
                                        <input type="text" class="form-control" th:value="${readyMealInfo.createdDate}">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>